body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }
  
  .resume {
    max-width: 900px;
    margin: 20px auto;
    padding: 3px;
    background-color: rgb(154, 174, 241);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .header {
    text-align: center;
  }
  
  .header h1 {
    font-size: 36px;
    margin-bottom: 5px;
  }
  
  .header p {
    font-size: 18px;
    color: #666;
  }
  
  .summary h2,
  .education h2,
  .project h2,
  .certifications h2,
  .skills h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
  }
  
  .education p,
  .project p {
    margin-bottom: 10px;
  }
  
  .skills ul {
    list-style: none;
    padding-left: 0;
  }
  
  .skills li {
    display: inline-block;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
  .contact{
    text-align: center;
    padding: 1px;
  }